body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  text-align: center;
}

button {
  font-family: 'Montserrat', sans-serif;
}

h1 {
font-family: 'Montserrat-Black', sans-serif;
font-size: 3.5rem;
font-weight: 900;
line-height: 1.5;
text-shadow: 0 1px 1px black;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.navbar {
  padding: 0 0 4.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.bullseye {
  color: #ef8172;
  padding-bottom: 5%;
}

.bullseye:hover {
  color: #ff4c68;
}

.check {
  color: #ef8172;
  padding-bottom: 5%;
}

.check:hover {
  color: #ff4c68;
}

.heart {
  color: #ef8172;
  padding-bottom: 5%;
}

.heart:hover {
  color: #ff4c68;
}

.downloads {
  padding: 0;
}

.section2-text {
  padding: 30px 20px;
}

.img-fluid {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.meet-new {
  padding: 0;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 0 0;
}

.row2 {

}

.tindog {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
}

#testimonials {
  background-color: #ef8172;
  color: #ffff;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 10px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.logo {
  margin: 20px 20px 15px;
  width: 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 3% 25%;
  text-align: center;
}

.find-the-true {
  font-size: 3rem;
  font-weight: 900;
  padding: 1% 0 6% 0;
}

.download-button-2 {
  margin: 0 3%;
  padding: 0.5% 2%;
}

#footer {
  background-color: #fff;
  text-align: center;
}

#footer .footer-text {
  color: grey;
  padding: 0 0 3%;
}

.icon-container {
  padding: 5% 0 1%;
}

.footer-icon {
  padding: 0 1%;
}

@media only screen and (min-width: 1028px) and (max-width: 1200px){

  .meet-new-and-interesting {
    font-size: 2rem;
  }

  .thumbnail-container {
    height: auto;
    max-width: 60%;
  }

}

@media only screen and (max-width: 1028px){

.col-right {
  margin-top: 60px;
}

.thumbnail-container {
  height: auto;
  max-width: 60%;
}

  .meet-new-and-interesting {
    font-size: 2rem;
  }

  .img-fluid {
    position: static;
    transform: none;
  }

  .row-title {
    text-align: center;
  }

}
